body {
    font: normal 16pt Arial;
    background-color: rgb(32, 131, 131);
    color: black;
}

header {
    color: aliceblue;
    text-align: center;
}

section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}

footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}

